<div>
  <link href="./feature-card.css" rel="stylesheet" />
  <div class="feature-card-card">
    <img
      alt="image"
      src="public/playground_assets/image_2022-09-24_072818751-removebg-preview-200h.png"
      class="feature-card-image"
    />
    <h4 class="feature-card-text heading4"><span>Baptist Christian</span></h4>
    <span class="feature-card-text1 content-Light">
      <span>
        2 Thessalonians 3:3 KJV But the Lord is faithful, who shall stablish
        you, and keep you from evil.
      </span>
    </span>
  </div>
</div>
