<div>
  <link href="./slide.css" rel="stylesheet" />
  <div data-type="slide" class="slide-slide slide">
    <div class="slide-max-width max-content-container">
      <div class="slide-left-side">
        <div class="slide-decorations-container">
          <div class="slide-squares-container">
            <div class="slide-light-green"></div>
            <div class="slide-orange"></div>
          </div>
        </div>
        <div class="slide-image-container">
          <img
            alt="image"
            src="public/playground_assets/image_2022-09-23_225528466-700w.png"
            class="slide-image"
          />
          <div class="slide-slider-controls"></div>
        </div>
      </div>
      <div class="slide-right-side">
        <span class="slide-testimonial">
          <span>
            “The advance of technology is based on making it fit in so that you
            don't really even notice it, so it's part of everyday life.” -Bill
            Gates
          </span>
        </span>
      </div>
    </div>
  </div>
</div>
